include header

.container
  h1 Hi, #{user}!
  h2 Dashboard
  p Ви увійшли в систему.
  img(src="https://miro.medium.com/v2/resize:fit:1400/1*heL-f8bPywxsNG2snNPIwQ.jpeg", alt="", style="max-width:200px;")

  if tasks.length
    h3 Ваші задачі:
    ul
      each task in tasks
        li
          strong= task.title
          br
          | #{task.description}
          br
          em Виконавець: #{task.assignee}
  else
    p Немає задач для вашої ролі.

  div
    a(href="/logout") Logout
